<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Buravel</title>
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="600"
    >
      <tr>
        <td align="center" style="padding: 40px 0 30px 0">
          <img
            src="cid:logo"
            alt="BURAVEL"
            width="82"
            height="18"
            style="display: block"
          />
        </td>
      </tr>
    </table>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body style="margin: 0; padding: 0">
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="600"
    >
      <tr>
        <td align="center" style="padding: 40px 0 30px 0">
          <img
            src="cid:emailImage"
            alt="BURAVEL"
            width="300"
            height="230"
            style="display: block"
          />
        </td>
      </tr>
      <tr>
        <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td
                style="
                  color: #535353;
                  font-family: Arial, sans-serif;
                  font-size: 32px;
                  line-height: 20px;
                  text-align: center;
                "
              >
                안녕하세요!
              </td>
            </tr>
            <tr>
              <td
                style="
                  color: #535353;
                  font-family: Arial, sans-serif;
                  font-size: 16px;
                  line-height: 20px;
                  text-align: center;
                  padding-top: 35px;
                  padding-bottom: 20px;
                "
              >
                <b>버라벨</b>과 함께해주셔서 감사합니다.
                <div>요청하신 아이디는 다음과 같습니다.</div>
              </td>
            </tr>
            <tr>
              <td
                style="
                  background-color: #f3f3f3;
                  color: #535353;
                  width: 100px;
                  font-family: Arial, sans-serif;
                  font-size: 24px;
                  line-height: 20px;
                  text-align: center;
                  padding-top: 15px;
                  padding-bottom: 15px;
                "
                align="center"
              >
                <span th:text="${username}"></span>
              </td>
            </tr>
            <tr>
              <td
                style="
                  color: #2b71f3;
                  width: 100px;
                  font-family: Arial, sans-serif;
                  font-size: 14px;
                  line-height: 20px;
                  text-align: center;
                  padding-top: 15px;
                  padding-bottom: 15px;
                "
                align="center"
              >
                <a href="http://fund-buravel.s3-website.ap-northeast-2.amazonaws.com/"
                  ><b>Buravel 홈페이지로 바로가기</b></a
                >
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
